#theCard{
	background: rgb(197, 197, 197);
	border: 2px #000 solid;
	width: 550px;
	height: 355px;
	border-radius: 20px;
}
#cardNo{
	/*width: 200px;*/
	text-align: center;
	margin: 0 auto;
	font-size: 45px;
	position: relative;
	top: 100px;
}

#cardExp {
	/* width: 200px; */
	/* text-align: center; */
	margin: 0 auto 0 20px;
	font-size: 20px;
	position: relative;
/*	left: 255px;
	top: 110px;*/
left: 240px;
top: 120px;
}
#cardName{
	/* width: 200px; */
	/* text-align: center; */
	margin: 0 auto 0 20px;
	font-size: 20px;
	position: relative;
	left: 15px;
	top: 130px;
}
.cardLogo{
	position: relative;
	top: 275px;
	left: 425px;
}

.copybtn{
	position: relative;
	top: 185px;
	left: 30px;
}
.mainLogo{
	margin-bottom: 2px;
}
#editBox{
	border: 2px #000 solid;
	border-radius: 10px;
	padding: 20px;
	position: fixed;
	top: 130px;
	width: 700px;
	background: #fff;
}
#container{
	float: left;
	margin: 0 20px 0 0;
	font-size: 16px;
}

#clear{
	clear: both;
}