<div class="header">
  <ul class="nav nav-pills">
  	<h3></h3>
    <li>
    	<a href="" ng-click="ct = card[0]" ng-init= "ct = card[0]"> VISA </a>
    </li>
    <li>
    	<a href="" ng-click="ct = card[1]" > Master Card </a>
    </li>
    <li>
    	<a href="" ng-click="ct = card[2]"> AMEX </a>
    </li>
    <li>
    	<a href="" ng-click="ct = card[3]"> Discover </a>
    </li>
  </ul>
</div> 
<div id="theCard" style="float: left;"> 
	<img class="cardLogo" width="100" height="64" ng-src="images/{{ct.cardType}}.png">
	<p id="cardNo">
		<strong>
			{{ct.cardNo}}
		</strong>
	</p>
	<p id="cardExp">
	<span style="font-size:10px; position:relative; top: 19px; right: 20px;" >VALID</span> <br /><span style="font-size:10px; position:relative;right: 20px" >THRU</span>
		<strong>
			<!-- Exp. --> {{ct.exp}}
		</strong>
	</p>
	<p id="cardName">
		<strong>{{ct.name}}</strong>
	</p>
</div>
<div style="float: left;">
	<button class="copybtn btn btn-warning">
		Copy
	</button> 
</div>

<div style="clear: both; padding-top: 5px;  padding-bottom: 40px;">
	<h1>Billing Address:</h1>
		<div>{{ct.address}}</div>

		<div id="container" class="left">
			<div>
				Address Line 1:
			</div>
			<div  ng-show="ct.address2">
				Address Line 2:
			</div>
			<div>
				City:
			</div>
			<div>
				Zip:
			</div>
		</div>

		<div id="container">
			<div>
				{{ct.address1}}
			</div>
			<div  ng-show="ct.address2">
				{{ct.address2}}
			</div>
			<div>
				{{ct.city + ', ' + ct.state}}
			</div>
			<div>
				{{ct.zip}}
			</div>
		</div>
	





<div id="clear" ></div>

<!-- <button edit-Card type="button" id="editBtn" class="btn btn-primary" ng-click="editView = !editView" >Edit</button>
<button delete-Card type="button" id="deleteBtn" class="btn btn-danger">Delete</button>

<div style="padding-bottom: 20px;" ></div> -->

<!-- edit modal  -->
<!-- <div id="editBox" ng-init="editView = flase" ng-show="editView">

	<div class="form-horizontal">

	  <div class="form-group">
	    <label for="" class="col-sm-2 control-label">Card Number</label>
	    <div class="col-sm-10">
	      <input type="password" class="form-control" id="editCardNo1" placeholder="card number" maxlength="16">
	    </div>
	  </div>
	  <div class="form-group">
	    <label for="" class="col-sm-2 control-label">Re-enter Card Number</label>
	    <div class="col-sm-10">
	      <input type="text" class="form-control" id="editCardNo1" placeholder="card number" maxlength="16">
	    </div>
	  </div>	
	  <div class="form-group">
	    <label for="" class="col-sm-2 control-label">Name</label>
	    <div class="col-sm-10">
	      <input type="text" class="form-control" id="inputPassword3" placeholder="Name as appears on card">
	    </div>
	  </div>
	  <div class="form-group">
	    <label for="" class="col-sm-2 control-label">Exp. Date</label>
	    <div class="col-xs-2">
	      <input type="text" class="form-control" id="inputPassword3" maxlength="4" min="4" placeholder="Exp. Date">
	    </div>
	  </div>
	  <div class="form-group">
	    <label for="" class="col-sm-2 control-label">Card Type</label>
	    <div class="col-xs-2">
	      <select>
	      	<option></option>
	      	<option>Visa</option>
	      	<option>Master Card</option>
	      	<option>AMEX</option>
	      	<option>Discover</option>
	      </select>
	    </div>  
	  </div>
	  <div class="form-group">
	    <label for="" class="col-sm-2 control-label">Address</label>
	    <div class="col-sm-10">
	      <input type="text" class="form-control" id="inputPassword3" maxlength="4" min="4" placeholder="Billing Address">
	    </div>
	  </div>
	</div>


	<button type="button" class="btn btn-success">Save</button>

</div>


 -->