<div style="padding: 20px;">
<form>
  <div class="form-group">
    <label for="exampleInputEmail1">Email address</label>
    <input type="email" class="form-control" id="emailuser" placeholder="Enter email">
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Password</label>
    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">MFA Code</label>
    <input type="password" class="form-control" id="mfacode" placeholder="MFA Code">
  </div>
  <button type="submit" class="btn btn-default">Submit</button>

</form>
</div>